<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.home.repository.UserRepository">

    <!-- ResultMap to map DB columns to DTO fields -->
    <resultMap id="userResultMap" type="UserDto">
        <id property="userId" column="user_id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <result property="birthday" column="birthday"/>
        <result property="gender" column="gender"/>
        <result property="dongCode" column="dong_code"/>
    </resultMap>

    <insert id="insertUser" parameterType="SignUpRequestDto">
        insert into User (username, password, email, birthday, gender, dong_code)
        values (#{username}, #{password}, #{email}, #{birthday}, #{gender}, #{dongCode})
    </insert>

    <select id="findByEmail" parameterType="String" resultMap="userResultMap">
        SELECT user_id, username, password, email, birthday, gender, dong_code
        FROM User
        WHERE email = #{email}
    </select>

    <select id="findByUserId" parameterType="Long" resultMap="userResultMap">
        SELECT user_id, username, password, email, birthday, gender, dong_code
        FROM User
        WHERE user_id = #{userId}
    </select>

    <update id="updateUser" parameterType="UserUpdateDto">
        UPDATE User
        SET
        username = #{username},
        password = #{password},
        birthday = #{birthday},
        gender = #{gender},
        dong_code = #{dongCode}
        WHERE user_id = #{userId}
    </update>

    <delete id="deleteUser" parameterType="Long">
        DELETE FROM User
        WHERE user_id = #{urlUserId}
    </delete>

</mapper>

        <!-- 1. namespace 설정 2. column은 db, proerty -->