<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.home.model.repository.ViewCountRepository">
    <!-- 일별 조회수를 저장하는 SQL 쿼리 -->
    <insert id="saveViewCount" parameterType="com.example.dto.DailyViewsDto">
        INSERT INTO real_time_views (apt_seq, date, hour, view_count)
        VALUES (#{aptSeq}, #{date}, #{hour}, #{viewCount})
        ON DUPLICATE KEY UPDATE
        view_count = view_count + #{viewCount};
    </insert>

</mapper>